amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
defusedxml==0.7.1
Django==6.0.5
django-celery-beat==2.9.0
django-filter==25.2
django-timezone-field==7.2.1
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
httpie==3.2.4
idna==3.16
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
markdown-it-py==4.2.0
mdurl==0.1.2
multidict==6.7.1
packaging==26.2
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
Pygments==2.20.0
PyJWT==2.12.1
PySocks==1.7.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.3
redis==8.0.0
referencing==0.37.0
requests==2.34.2
requests-toolbelt==1.0.0
rich==15.0.0
rpds-py==0.30.0
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
stripe==15.2.0
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.7.0
gunicorn==26.0.0
